
<div class = "center" *ngIf = "(game$ | async) as obsGame">
  <div>
    <label> idGame : {{ obsGame.id }} </label>
    <label> idPlayer : {{ getPlayerId() }} </label>
    <label *ngIf = "obsGame.currentRound <= obsGame.nbTurns"> Round : {{ obsGame.currentRound }} / {{ obsGame.nbTurns }} </label>
  </div>
  <div *ngIf = "(playerHasPlayed$ | async) as player">
    <button mat-raised-button [disabled] = "player.havePlayed" (click) = "newClickAction('COOPERATE')" >COOPERATE</button>
    <button mat-raised-button [disabled] = "player.havePlayed" (click) = "newClickAction('BETRAY')">BETRAY</button>
    <button mat-raised-button [disabled] = "clickedGiveUp" (click) = "giveUp()">GIVE UP</button>

    <div>
      <mat-form-field>
        <mat-label>Choose a strategy</mat-label>
        <mat-select  matNativeControl [(ngModel)]="selectedStrategy" (change) = "selectChangeHandler($event)" >
          <mat-option *ngFor = "let s of strategyList" [value] = "s">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
          {{ selectedStrategy }}
          <button mat-raised-button [disabled] = "player.havePlayed" (click) = "playStrategy()" >Play selected strategy</button>
    </div>
    <div  class = "spinner" *ngIf = "player.havePlayed">
      <mat-spinner></mat-spinner>
    </div>
    <br/>
    <div *ngIf = "obsGame.currentRound > obsGame.nbTurns" class = "center">
      <label>Le jeu est fini !</label>
      <br/>
      <label>Score du joueur {{ obsGame?.player1?.id }} : {{ obsGame.player1?.score }}</label>
      <br/>
      <label>Score du joueur {{ obsGame?.player2?.id }} : {{ obsGame.player2?.score }}</label>
    </div>
  </div>
</div>

<!--<div *ngIf = "(game$ | async) as obsGame">
  <p>game : {{ obsGame | json }}</p>
</div>

<div *ngIf = "(playerHasPlayed$ | async) as player">
  <p>player : {{ player | json }}</p>
</div>
-->


