
<div class = "center">
  <label> idGame : {{ getGameId() }} </label>
  <label> idPlayer : {{ getPlayerId() }} </label>
  <label> Round : {{ currentRound }} </label>
</div>

<div class = "center">
  <button [disabled] = "(playerHasPlayed$ | async)" (click) = "clickAction('COOPERATE')" >COOPERATE</button>
  <button [disabled] = "(playerHasPlayed$ | async)" (click) = "clickAction('BETRAY')">BETRAY</button>
  <button [disabled] = "clickedGiveUp" (click) = "giveUp()">GIVE UP</button>
  <button (click)="readGame()">readGame</button>
</div>

<div class = "center">
  <select>
    <option>-- Choose a strategy (Pas encore implémenté) --</option>
    <option>DONNANT-DONNANT</option>
    <option>COOPERER</option>
    <option>BETRAY</option>
    <option>RANDOM</option>
  </select>
</div>

<div *ngIf = "gameIsFinished" class = "center">
  <label>Le jeu est fini ! Score : {{ score }}</label>
</div>
