<div class = "center">
  <div>
    <label class = "example-label">Choose the number of turns : </label>
    <input matInput type = "number" value = "1" min = "1" #nbTurns>
      <button mat-raised-button class = "example-button-row"
        (click) = "createGame(nbTurns.value)">Create game</button>
  </div>
<br/>
  <div class = "center">
    <label class = "example-label">Choose the id of the game : </label>
    <input type = "number" value = "1" min = "1" #idGame >
    <button mat-raised-button class = "example-button-row"
      (click) = "joinGame(idGame.value)">Join game</button>
  </div>
</div>
